<h3>Pick a difficulty!</h3>

<form action="/start_game" method="post">
  <div class="form-group">
    <input type="number" placeholder="Enter Difficulty" name="difficulty">
  </div>
  <button type="submit" name="button">Play Game!</button>
</form>
